body, html {
    height: 100%;
}
body {
    background: #333;
}
#page-cover {
    background: url("../media/myth-cover-bw.jpg") top left no-repeat fixed;
    background-size: cover;
    margin:0;
    min-height:100%;
}
#page-gallery {
    background: #333;
    margin:0;
    min-height: 100%;
    padding-top: 100px;
}

#logo-space {    
    position: absolute;
    top: 120px;
    right: 80px;
    width: 128px;
}
#content {
    position: absolute;
    top: 256px;
    right: 80px;
    width: 600px;
    text-align: right;
}

.description-text p {
    padding-bottom: 8px;
}
.description-text p span {
    background: #fff;
    padding: 4px;
}

.seperator-text {
    display: block;
    width: 200px;
    height: 0px;
    border-top: 4px solid #fff;
    margin:0 auto;
}
.gallery-frame {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.gallery-frame ul {
    list-style: none;
}
.gallery-frame ul li {
    display: inline-block;
    padding: 40px 20px;
}

.text-frame {
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    color: #fff;
    line-height: 2em;
}
.text-frame img {
    width:100%;
}
.center {
    text-align: center;
}
